<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="DevUnitedSugarsSAPEntities" connectionString="metadata=res://*/SiloInventoryEntityDataModel.csdl|res://*/SiloInventoryEntityDataModel.ssdl|res://*/SiloInventoryEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLDCSQL2K14DEV1;initial catalog=UnitedSugarsSAP;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="QASiloInventoryEntities" connectionString="metadata=res://*/SugmanOEE.csdl|res://*/SugmanOEE.ssdl|res://*/SugmanOEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cldcsql2k14qa1;initial catalog=UnitedSugarsSAP;User ID=SugManOEE_User;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="ProdSiloInventoryEntities" connectionString="metadata=res://*/SugmanOEE.csdl|res://*/SugmanOEE.ssdl|res://*/SugmanOEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cldcsql2k14pr1;initial catalog=UnitedSugarsSAP;User ID=SugManOEE_User;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	</connectionStrings>
	<appSettings>
		<add key="Environment" value="Dev"/>

		<add key="DevDB_PASSWORD" value="JR/9ISOadTy3SPSLV8J8xQ=="></add>
		<add key="QADB_PASSWORD" value="JR/9ISOadTy3SPSLV8J8xQ=="></add>
		<add key="ProdDB_PASSWORD" value="JR/9ISOadTy3SPSLV8J8xQ=="></add>
	</appSettings>
</configuration>